{% extends 'base.html' %}
{% load static %}
{% block header %}

{% endblock %}
{% block content %}
<section class="product-detail-page">
  <div class="row">
  <div class="col-1-of-2">
    <!-- getting the product image -->
      <img class="product-detail-img" src="{{ product.image.url }}">
  </div>

  <div class="col-1-of-2">
    <h2 class="product-heading center-text">{{ product.name }}</h2>

      <!-- getting the product category with absolute url -->

      <h3 class="product-heading__link center-text margin-bottom-sm"><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h3>
     <div class="product-text center-text margin-bottom-sm">

      <!-- Product description -->

      {{ product.description|linebreaks }}
      </div>

            <!-- Product price -->

      <p class="product-price center-text margin-bottom-lg">&pound;{{ product.price }}</p>


      <!-- The form below is the add product to cart button users can also 
            add how many of a item they wish to buy 
          
      -->
      <form class="add-to-cart-form" action="{% url 'cart:cart_add' product.id %}" method="post">
        <div class="product-quanity">
        {{ cart_product_form }}
        </div>
        {% csrf_token %}
        <input class="btn btn--red" type="submit" value="Add to cart">
        <a href="{% url 'shop:product_list' %}" class="btn btn--green">Continue shopping</a>
      </form>
      <div class="margin-right-sm">
     
      </div>
    </div>
</div>
</section>
{% endblock %}