body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: $default-font-size;
    line-height: 1.6;
    
}

.heading-primary{
    color: $primary-font-color;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 5rem;

    &--main{
        display: block;
        font-size: $large-heading-font-size;
        font-weight: 500;
        letter-spacing: 3.5rem;
        margin-bottom: 4rem;
        animation: moveInLeft 2s ease-out;

        @include respond(phone){
            letter-spacing: 1rem;
            font-size: 5rem;
        }
    
       
    }
    
    &--sub{
        display: block;
        font-size: $medium-heading-font-size;
        font-weight: 700;
        letter-spacing: 1.6rem;
        animation: moveInRight 2s ease-out;

        @include respond(phone){
            letter-spacing: .5rem;
            font-size: 3rem;
        }
    }
}

.text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary-secondary{
    font-size: 4.5rem;
    font-weight: 400;
    text-align: center;
    color: $secondary-font-color;
    text-transform: uppercase;

    @include respond(tab-port){
        font-size: 3rem;
    }

    @include respond(phone){
        font-size: 2.5rem;
    }
}

.comment_heading{
    font-size: 3.5rem;
    font-weight: 400;
    text-align: center;
    color: $secondary-font-color;
    text-transform: uppercase;
    padding: 1rem;
    margin: 2rem;
}