.blog_list{
    text-align: center;
    padding: 5rem;
    margin: 2rem auto;

    &__heading{
        font-size: $medium-heading-font-size;
        padding: 1rem;
        margin: 1rem;
    }
}

.blog_list__img{
    width: 60%;
    margin-top: 3rem;
    border-radius: 3px;

}

.date{
    font-size: 2rem;
    padding: 1rem;
    margin: 1rem;
}

.blog-detail{
    text-align: center;
    padding: 5rem;
    margin: 2rem auto;
}

.post-detail-img{
    width: 100%;
    border-radius: 3px;
    margin-top: -5rem;
}

.pagination{
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem;

}

.step-links{
    font-size: 2rem;
    color: green;
    margin: 1rem;
    padding: 1rem;
}

.current{
    font-size: 2rem;
    color: red;
    margin: 1rem;
    padding: 1rem;
}

.comment{
   font-size: 2rem;
   padding: 1rem;
   margin: 1rem; 
}

.info{
    font-size: 2rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.messages{
    width: 80%;
    font-size: 3rem;
    color: $primary-font-color;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #4f2;
    padding: 2rem;
    margin: 0 auto;
}