{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block header %}

{% endblock %}
{% block content %}
{% if messages %}
<div class="messages">
<ul>
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}
<section class="blog-detail"> 
    <div class="row">
            <img class="post-detail-img" src="{{ post.image.url }}" class="logo" alt="Eagle Designs logo">
        <h2 class="blog_list__heading">{{ post.title }}</h2>
        <p class="date">
          Published {{ post.publish }} by {{ post.author }}
        </p>
        {{ post.body|linebreaks }}
    </div>
    {% with comments.count as total_comments %}
  <h2>
    {{ total_comments }} comment{{ total_comments|pluralize }}
  </h2>
{% endwith %}

{% for comment in comments %}
  <div class="comment">
    <p class="info">
      Comment {{ forloop.counter }} by {{ comment.name }}
      {{ comment.created }}
    </p>
    {{ comment.body|linebreaks }}
  </div>
  
{% empty %}
  <p>There are no comments yet.</p>
{% endfor %}

{% if new_comment %}
  <h2>Your comment has been added.</h2>
{% else %}
  <h2 class="comment_heading">Add a new comment</h2>
  <form action="." method="post">
    {{ comment_form.as_p }}
    {% csrf_token %}
    <p><input class="btn btn--green" type="submit" value="Add comment"></p>
  </form>
{% endif %}

</section>
{% endblock %}