{% extends 'base.html' %}
{% load static %}
{% block header %}
<header class="header">

</header>
{% endblock %}
{% block content %}
<section class="blog_list">
    <div class="row">
{% for post in posts %}
    <h2 class="blog_list__heading">
      <a href="{{ post.get_absolute_url }}">
        {{ post.title }}
      </a>
    </h2>

    <p class="date">
      Published {{ post.publish }} by {{ post.author }}
    </p>

    {{ post.body|truncatewords:30|linebreaksbr }}

  {% endfor %}
</div>
</section>
{% endblock %}